<%-include('./header') %>

<h1 class="display-2 bg-danger text-white"><%=message%></h1>
<a href="/admin" class="btn btn-secondary d-block mb-5 w-50 mt-5"
>Back to HomePage</a>

<%-include('./footer') %>