<%- include('./header') %>

<h2 class="bg-warning text-success m-5 p-2 rounded">Patient's data was successfully <%=type%></h2>
<a href="/admin" class="btn w-25 mt-5 bg-secondary d-block text-white" >Back to HomePage</a>
<%- include('./footer') %>
