*{
  overflow: hidden;
}
body::before {
  content: "";
  background: url("../public/hospital.jpg");
  background-size: cover;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
body{
  background:linear-gradient(black,blue);
  background-repeat: no-repeat;
background-position: center;
width: 100vw;
height: 100vh;
}
.cards {
  box-shadow: 2px 2px 5px 1px black;

border-radius: 5px;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
.cred-btn:hover {
  background-color: grey;
  color: honeydew;
}
